:root{
	--blue: #177DBE;
	--darkblue: #003087;
	--darkerblue: #0D3685;
	--gray: #F5F7FA;
	--black: #0C0C0D;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Open sans", sans-serif;
	box-sizing: border-box;
	/*border: 1px solid red;*/
}
/*--------Mobileapp Screen Only--------*/
.mobileapp {
	display: none;
}

/*---------------header----------------*/

.header {
	width: 100%;
	padding: 10px 7%;
	position: relative;
	background-color: #fff;
	box-shadow: 8px 0px 8px  rgba(0,0,0,0.2);
}

.showMenu {
	display: none;
}

.menu {
	display: none;
}

.header .logo .img1 {
	width: 140px;
	height: 50px;
	padding: 0 5px;
}

.header .logo .img2 {
	display: none;
	width: 80px;
	height: 60px;
	padding: 0 5px;
}

.header .navbar ul {
	
}

.header .navbar li {
	list-style: none;
	display: inline-block;
	padding: 20px 15px;
}

.header .navbar li:hover {
	border-bottom: 3px solid var(--darkblue);
}
.header .navbar li a {
	font-weight: 600;
	text-decoration: none;
	color: var(--black);
}

.header .button .btn:first-child {
	font-weight: 600;
	background-color: transparent;
	color: var(--blue);
	border: 1px solid var(--blue);
}

.header .button .btn:nth-child(2) {
	font-weight: 600;
	background-color: var(--blue);
	color: #fff;
	border: 1px solid var(--blue);
}

 /*---------------HERO----------------*/

 .mhero {
 	display: none;
 }

 .hero {
 	padding: 20px 0 20px 100px;
 	width: 100%;
 	height: 80vh;
 }
 
.hero .grid-item img {
	padding-top: 30px;
	width: 500px;
	height: 500px;
}


 .hero .paragraph1{
 	font-size: 20px;
 	font-weight: 600;
 }

 .hero .btn {
 	background-color: var(--darkblue);
 	color: #fff;
 	font-weight: 600;
 	padding: 15px 10px;
 	width: 60%;
 }

 .hero .paragraph2{
 	margin-top: 10px;
 	font-size: 15px;
 	font-weight: 500;
 }

 /*----------------SUB_HEADER------------*/

.sub-header * {
 	/*border: 1px solid red;*/
 }

.sub-header {
 	background-color: #fff;
 	border: 2px solid #ccc;
 	padding: 20px 50px;
 }

.sub-header div:first-child {
	float: left;
	width: 65%;
}

.sub-header div:last-child {
	float: left;
	width: 35%;
	margin-left:0px;
}

.sub-header::after {
	content: "";
	display: table;
	clear: both;
}

 .sub-header p {
 	width: 100%;
 	margin: 10px 0 20px 50px;
 	font-weight: 600;
 	font-size: 16px;
 }

 .sub-header .btn {
 	background-color: #005EA6;
 	color: #fff;
 	font-weight: 600;
 	margin: 0 40px 0 0;
 	padding: 15px 20px;
 	width: 60%;	
 }

/* ----------------CRYPTO------------*/

.crypto {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(2,1fr);
	/*grid-gap: 1rem;*/
	margin: 10px;
	width: 100%;
}

.crypto .grid-item:nth-child(2) {
	margin-right: 120px;
}

.crypto img {
	width: 300px;
	height: 300px;
	margin-left: 150px;
}

.crypto .grid-item .btn {
	background-color: #005EA6;
 	color: #fff;
 	font-weight: 600;
 	/*margin-left: 40px;*/
 	margin-top: 0;
 	padding: 15px 20px;
	width: 60%;
	margin-bottom: 40px;
}

.crypto .grid-item h1 {
	color: #544A4A;
	margin: 20px 0 30px 0;
	font-size: 35px;
	font-weight: 600;
}

.crypto .grid-item .paragraph1 {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 40px;
}

.crypto .grid-item .paragraph2 {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 40px;
}

/*----------------LATER------------*/

.later {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.later .flex-item {
	flex-basis: 48%;
}

.later .flex-item:first-child {
	margin-left: 120px;
}

.later .flex-item h1 {
	color: #544A4A;
	margin: 20px 0 30px 0;
	font-size: 35px;
	font-weight: 600;
}

.later .flex-item .paragraph1 {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 40px;
}

.later .flex-item a {
	color: #005EA6;
	font-weight: 600;
	text-decoration: none;
}

.later .flex-item a:hover {
	text-decoration: underline;
}

.later .flex-item .paragraph2 {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 40px;	
	margin-top: 40px;
}

.later img {
	width: 400px;
	height: 300px;
	margin-left: 20%;
	margin-right: 30%;
}

/*---------------SEND MONEY----------------*/

.send  {
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100%;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 0;
	padding: 5% 1%;
}

.send .grid-item img {
	width: 300px;
	height: 300px;
	margin-left: 30%;
}

.send div:first-child {
	align-self: center;
}

.send div:last-child {
	align-self: center;
}

.send .grid-item h1 {
	color: #544A4A;
	/*margin: 20px 0 30px 0;*/
	font-size: 35px;
	font-weight: 600;	
}

.send .grid-item p {
	font-size: 14px;
	font-weight: 600;
}

.send .grid-item a {
	color: #005EA6;
	font-weight: 600;
	text-decoration: none;	
}

.send .grid-item a:hover {
	text-decoration: underline;	
}

/*----------------INSTANT NOTIFICATION------------*/

.instant {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 5% 10%;
}

.instant .flex-item {
	flex-basis: 48%;
}

.instant.flex-item:first-child {
	
}

.instant.flex-item:last-child {
	
}

.instant .flex-item h1 {
	color: #544A4A;
	margin: 20px 0 30px 0;
	font-size: 35px;
	font-weight: 600;
}

.instant .flex-item p {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 40px;
}

.instant .flex-item a {
	color: #005EA6;
	font-weight: 600;
	text-decoration: none;
}

.instant .flex-item a:hover {
	text-decoration: underline;
}


.instant img {
	width: 350px;
	height: 400px;
	margin-left: 20%;
	margin-right: 30%;
}

/*---------------PAY TOUCH FREE----------------*/

.pay  {
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100%;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 50px;
	padding: 3% 10%;
}

.pay .grid-item img {
	width: 400px;
	height: 300px;
	margin-left: 30%;
}

.pay div:first-child {
	align-self: center;
}

.pay div:last-child {
	align-self: center;
}

.pay .grid-item h1 {
	color: #544A4A;
	font-size: 35px;
	font-weight: 600;	
}

.pay .grid-item div span {
	font-size: 14px;
	color: #fff;
	background-color: #A96717;
	border-radius: 50%;
	padding: 18px 10px;

}

.pay .float div:first-child {
	float: left;
	width: 15%;
	margin-top: 10px;
}

.pay .float div:last-child {
	float: left;
	width: 85%;
}
.pay .float::after {
	content: "";
	clear: both;
	display: table;
}



.pay .grid-item p {
	font-size: 14px;
	font-weight: 600;
}

.pay .grid-item a {
	color: #005EA6;
	font-weight: 600;
	text-decoration: none;	
}

.pay .grid-item a:hover {
	text-decoration: underline;	
}

/*---------------BRANDS----------------*/

.brand {
	text-align: center;
}

.brand h1 {
	color: #4A4A4A;
	font-size: 40px;
	margin: 50px auto;
}

.brand .content .flex {
	flex-wrap: wrap;
}

.brands img {
	width: 100px;
	height: 60px;
}

.brands {
	margin: 20px auto;
	width: 60%;
}

/*---------------COVID----------------*/

.covid {
	background-color: #FFF2DC;
	height: 15vh;
	position: relative;
}

.covid .covid-item {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.covid .image {
	float: left;
	width: 20%;
}

.covid .paragraph {
	float: left;
	width: 80%;
}

.covid .covid-item::after {
	content: "";
	clear: both;
	display: table;
}

.covid img {
	margin: 0 20% 0 70%;
	width: 50px;
	height: 50px;
}

.covid p {
	margin-top: 12px;
}

.covid a {
	color: #005EA6;
	font-weight: 600;
	text-decoration: none;
}

.covid a:hover {
	text-decoration: underline;
}

/*---------------USER----------------*/

.user * {
	/*border: 1px solid red;*/
}

.user {
	text-align: center;
	height: 60vh;

}

.user-item {
	width: 60%;
	margin: 0 auto;
}

.user-item p {
	margin: 0 auto;
	padding-top: 30px;
	width: 80%;
	font-size: 30px;
	font-weight: 600;
}

.user-item .btn {
	background-color: #fff;
 	color: #005EA6;
 	font-size: 16px;
 	font-weight: 600;
 	padding: 15px 10px;
 	margin-top: 20px;
 	margin-bottom: 80px;
 	width: 40%;
}

.user-item span {
	font-weight: 600;
	font-size: 35px;
	background-color: #0070BA;
	padding: 10px 15px;
	border-radius: 15px;
	margin-left: 5px;
}

/*---------------FOOTER----------------*/

.footer div {
	margin: 0 auto;
	width: 85%;
}

.footer div p {
	font-weight: 600;
	font-size: 14px;
}

.footer div p:first-child {
	margin-top: 20px;
}

.footer div nav .flex {
	justify-content: space-between;
}

/*footer1*/

.footer .footer1 nav  {
	border-bottom: 1px solid #CBD2D6;
	padding-bottom: 10px;
}

.footer div nav ul li {
	display: inline-block;
	padding-left: 10px;
}

.footer div nav ul li a {
	color: #000;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
}

.footer div nav ul li a:hover {
	text-decoration: underline;
}

.footer .footer1 nav ul {
	flex-basis: 80%;
}

.footer .footer1 nav div {
	flex-basis: 20%;
}

.footer div nav div img {
	width: 25px;
	height: 20px;
	border-radius: 4px;
	margin-left: 80%;
}

/*Footer2*/

.footer2 {
	justify-content: space-between;
}

.footer2 nav {
	flex-basis: 55%; 
}

.footer .footer2 nav ul li a {
	color: #687173;
}

.footer2 div {
	flex-basis: 45%;
}

.footer2 div ul li {
	color: #687173;
	padding-left: 10px;	
}

.footer2 ul li {
	display: inline-block;
}

.footer2 div ul li {
	font-weight: 600;
	font-size: 14px;	
}














@media screen and (max-width: 1000px) {
	/*-----------header---------*/
	.header {
		padding: 0 6%;
	}
	.header .showMenu {
		display: block;
	}

	.header .btn{
		font-weight: 600;
		background-color: transparent;
		color: var(--blue);
		border: 1px solid var(--blue);
	}

	

	.header .button .btn:nth-child(2) {
		display: none;
	}

	.header .navbar {
		display: none;
	}

	.header .menu {
		display: block;
	}

	.header .hideMenu {
		margin-top: 10px;
		display: block;
		color: #fff;
	}

	.header #navLinks ul {
		border-bottom: 1px solid var(--gray);
		margin: 20px;
	}

	.header #navLinks li {
		list-style: none;
		display: block;
		padding: 20px 15px;
	}

	.header #navLinks a {
		font-weight: 600;
		text-decoration: none;
		color: #fff;		
	}

	.header #navLinks .btn {
		margin-top: 40px;
		padding: 20px 150px;
		font-weight: 600;
		color: #fff;	
	}

	.header #navLinks {
		position: fixed;
		top: 0;
		left: -50%;
		width: 50%;
		height: 100vh;
		color: #000;
		margin-top: -1px;
		z-index: 2;
		background-color: var(--darkblue);
		transition: 1s;
	}

	.header .logo .img1{
		 display: none;
	}

	.header .logo .img2 {
		display: block;
	}


	/*-----------------Hero----------------*/
	.mhero {
		display: none;
	}

	.hero {
	 	padding: 10px 0 30px 30px;
	 	width: 100%;
	 	height: 80vh;
	}

	.hero .grid-item img {
		padding-top: 80px;
		width: 350px;
		height: 450px;
	}

	.hero h1 { 
		font-size: 35px;
	}


	.hero .paragraph1{
	 	font-size: 19px;
	 }

	.hero .btn {
	 	width: 90%;
	}

	/*----------------SUB_HEADER------------*/
	.sub-header {
	 	padding: 20px 50px;
	 }

	.sub-header div:first-child {
		float: left;
		width: 50%;
	}

	.sub-header div:first-child span {
		display: none;
	}

	.sub-header div:last-child {
		float: left;
		width: 50%;
		/*margin-left:-0.5em;*/
	}

	.sub-header p {
	 	width: 100%;
	 	margin: 10px 0 20px 60px;
	 	font-size: 18px;
	 }

	 .sub-header .btn {
	 	width: 50%;	
	 	padding: 10px 14px;
	 }

	/* ----------------CRYPTO------------*/
	.crypto {
		margin-top: -1px;
		margin-left: -2px;
	}

	.crypto .grid-item:nth-child(2) {
		margin-right: 80px;
	}

	.crypto img {
		width: 250px;
		height: 250px;
		margin-left: 70px;
		margin-top: 100px;
	}

	.crypto .grid-item .btn {
		background-color: #005EA6;
	 	color: #fff;
	 	font-weight: 600;
	 	/*margin-left: 40px;*/
	 	margin-top: 0;
	 	padding: 15px 20px;
		width: 100%;
		margin-bottom: 40px;
	}

	.crypto .grid-item h1 {
		color: #544A4A;
		margin: 20px 0 30px 0;
		font-size: 35px;
		font-weight: 600;

	}

	.crypto .grid-item .paragraph1 {
		font-size: 14px;
		font-weight: 600;
		line-height: 1.5;
		margin-bottom: 40px;
	}

	.crypto .grid-item .paragraph2 {
		font-size: 14px;
		font-weight: 600;
		line-height: 1.5;
		margin-bottom: 40px;
	}

	/*----------------LATER------------*/
	.later img {
		width: 300px;
		height: 180px;
		margin-left: 0;
		margin-right: 0;
	}
	.later .flex-item:first-child {
		margin-left: 70px;
	}

	/*---------------SEND MONEY----------------*/

	.send  {
		display: grid;
		justify-content: center;
		align-content: center;
		height: 100%;
		grid-template-columns: repeat(2,1fr);
		grid-gap: 0;
		padding: 5% 1%;
	}

	.send .grid-item img {
		width: 250px;
		height: 250px;
		margin-left: 15%;
	}

	.send div:first-child {
		align-self: center;
	}

	.send div:last-child {
		align-self: center;
	}

	.send .grid-item h1 {
		color: #544A4A;
		font-size: 35px;
		font-weight: 600;	
	}

	.send .grid-item p {
		margin-right: 15%;
		font-size: 14px;
		font-weight: 600;
	}


	/*----------------INSTANT NOTIFICATIONS------------*/

	.instant {
		padding: 3% 5%;
	}

	.instant .flex-item h1 {
		color: #544A4A;
		margin: 20px 10% 0;
		font-size: 35px;
		font-weight: 600;
	}

	.instant .flex-item p {
		line-height: 2;
		font-size: 14px;
		font-weight: 600;
		margin: 20px 10% 40px;
	}

	.instant .flex-item a {
		margin: 0 10%;
	}


	.instant img {
		width: 250px;
		height: 300px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 20%;
		margin-right: 50%;
	}

	/*---------------PAY TOUCH FREE----------------*/

	.pay  {
		
		grid-template-columns: repeat(2,1fr);
		grid-gap: 50px;
		padding: 10% 8%;
	}

	.pay .grid-item img {
		width: 300px;
		height: 200px;
		margin-left: 0;
	}

	.pay .grid-item h1 {
		font-size: 30px;	
	}

	.pay .float div:first-child {
		width: 20%;
	}

	.pay .float div:last-child {
		width: 80%;
	}

	/*---------------BRANDS----------------*/
	
	.brand h1 {
		margin: 50px 130px;
	}

	.brand .content .flex {
		gap: 4rem;
	}

	.brands img {
		width: 100px;
		height: 60px;
	}

	.brands {
		margin: 20px auto;
		width: 60%;
	}

	/*---------------COVID----------------*/

	.covid {
		height: 35vh;
	}

	.covid .covid-item {
		width: 90%;
	}

	.covid .image {
		width: 100%;
	}

	.covid .paragraph {
		width: 100%;
	}

	.covid img {
		margin: 0 40% 0 45%;
	}

	.covid p {
		font-size: 20px;
		text-align: center;
		margin-top: 12px;
	}

	/*---------------USER----------------*/

	.user {
		height: 60vh;
	}

	.user-item {
		width: 90%;
	}

	.user-item p {
		width: 100%;
		font-size: 25px;
	}

	.user-item .btn {
	 	
	 	width: 45%;
	}

	.user-item span {
		font-size: 20px;
	}

	/*---------------FOOTER----------------*/

	.footer div {
		text-align: center;
	}

	/*footer1*/

	.footer .footer1 nav {
		justify-content: center;
		flex-direction: column-reverse;
		padding-bottom: 5px;
		margin-bottom: -5px;
	}

	.footer div nav ul li {
		display: inline-block;
		padding-left: 10px;
		text-align: center;
	}

	.footer .footer1 nav ul {
		flex-basis: 100%;
	}

	.footer .footer1 nav div {
		flex-basis: 100%;
	}

	.footer div nav div img {
		margin: 0 39% 0 39%;
	}

	/*Footer2*/

	.footer2 {
		padding-top: 3px;
		justify-content: center;
		flex-direction: column;
	}

	.footer2 nav {
		flex-basis: 100%;
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid #CBD2D6; 
	}

	.footer2 div {
		flex-basis: 100%;
	}

}
















@media screen and (max-width: 650px) {

	body {
		overflow-x: hidden;
	}

	/*--------Mobileapp Screen Only--------*/
	.mobileapp {
		width: 95%;
		margin:0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.mobileapp img {
		width: 60px;
		height: 60px;
	}

	.mobileapp p {
		font-size: 14px;
	}

	.mobileapp .btn {
		font-weight: 600;
		background-color: transparent;
		color: var(--blue);
		border: 1px solid var(--blue);
	}

	/*-----------header----------------*/

	.header #navLinks .btn {
		margin-left: 10px;
		padding: 20px 50px;
	}
	
	/*-----------Mobile hero----------------*/
	.hero {
		display: none;
	}	

	.mhero {
		display: block;
		margin-top: -30px;
		border-bottom: 1px solid #ccc;
	}

	.mhero {
		height: 107.5vh;
		min-width: 100%;
	}

	.mhero .grid-item {
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}

	.mhero .grid-item h1 {
	}

	.mhero .grid-item p {
	}

	.mhero .grid-item .btn {
		width: 100%;
		background-color: #F6BE00;
		font-weight: 600;
	}

	.mhero .grid-item a {
		text-decoration: none;
		color: lightblue;
	}

	.mhero .grid-item a:hover .fa-long-arrow-right {
		transform: translateX(15px);
	}

	.mhero .grid-item img {
		margin-top: -50px;
		margin-right: 80px;
		width: 300px;
		height: 300px;
	}

	.hero .grid {
		grid-template-columns: 1fr;
	}

	/*----------------SUB_HEADER------------*/
	.sub-header div:first-child {
		width: 100%;
	}

	.sub-header div:last-child {
		width: 100%;
	}

	.sub-header p {
	 	width: 100%;
	 	margin: 10px 0 20px 30px;
	}

	.sub-header .btn {
		width: 70%;
	 	margin-left: 30px;
	}

 	/* ----------------CRYPTO------------*/

 	.crypto {
 		grid-template-columns: 1fr;
 	}

 	.crypto .grid-item:nth-child(2) {
 		width: 80%;
 		margin: 0 auto
 	}

 	.crypto .grid-item h1 {
 		text-align: center;
 	}

 	.crypto .grid-item p {
 		text-align: center;
 	}

 	/*----------------LATER------------*/

 	.later {
 		text-align: center;
 		flex-direction: column-reverse;
 	}

 	.later .flex-item:first-child {
		margin-left: 0;
	}

	.later .flex-item img {
		margin-top: 40px;
	}

	.later .flex-item h1 {
		margin-top: 80px;
		font-size: 30px;
	}
	/*---------------SEND MONEY----------------*/

	.send  {
		grid-template-columns: 1fr;
	}


	.send div:last-child {
		text-align: center;
	}

	.send .grid-item h1 {
		margin: 0 20%;	
	}

	.send .grid-item p {
		margin: 0 10%;
	}

	/*----------------INSTANT NOTIFICATIONS------------*/

	.instant {
		padding: 3% 5%;
		text-align: center;
		flex-direction: column-reverse;
	}

	.instant .flex-item h1 {
		margin: 20px 0;
		font-size: 28px;
	}

	.instant .flex-item p {
		margin: 20px 10% 20px;
	}

	.instant img {
		width: 250px;
		height: 300px;
		margin: 0 auto;
	}

	/*---------------PAY TOUCH FREE----------------*/

	.pay  {
		grid-template-columns: 1fr;
		text-align: center;
	}

	.pay .grid-item h1 {
		font-size: 30px;	
	}

	.pay .grid-item p {
		font-size: 16px;	
	}

	.pay .float div:first-child {
		width: 100%;
		margin-bottom: 20px;
	}

	.pay .float div:last-child {
		width: 100%;
	}

	/*---------------BRANDS----------------*/
	
	.brand h1 {
		font-size: 30px;
		margin: 50px 5px;
	}

	.brand .content .flex {
		gap: 2rem;
	}

	.brands {
		margin: 20px auto;
		width: 80%;
	}

	/*---------------COVID----------------*/

	.covid {
		height: 35vh;
	}

	.covid p {
		margin:0 10% 0 10%;
		font-size: 18px;
	}

	/*---------------USER----------------*/

	.user {
		height: 60vh;
	}

	.user-item {
		width: 90%;
	}

	.user-item p {
		width: 100%;
		font-size: 25px;
	}

	.user-item .btn {
	 	width: 95%;
	}

	.user-item span {
		width: 80%;
		margin: 0 5px 0 auto;
		font-size: 20px;
		padding: 12px 10px;
		border-radius: 5px;
	}	

	/*---------------FOOTER----------------*/

	.footer div {
		text-align: left;
	}

	.footer .footer1 nav div img {
		margin-left: -10px;
	}

	.footer .footer1 .nav1 ul li a{
		/*margin-bottom: 20px;*/
	}

}